<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
  <a class="navbar-brand" routerLink="/Movies" style="background-color: coral;padding: 10px;font-family: cursive;">Watch Online Movies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto" style="margin-left: 700px;" >

      <li  class="nav-item active" >
        <a class="nav-link"  routerLink="/Register" *ngIf="!LoggedUser()">Register </a>
      </li>
      <li   class="nav-item active ml-3" >
        <a class="nav-link"  routerLink="/Login" *ngIf="!LoggedUser()" >Login </a>
      </li>

      <li   class="nav-item active ml-3" >
        <a class="nav-link" (click)="logOut()" routerLink="/Cars" *ngIf="LoggedUser()" >Logout </a>
      </li>

    </ul>
  </div>

</nav>
